.Code {
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    overflow: auto;
}

.CodeRedesigned {
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}

.copiedMessage {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--dark-bg-redesigned);
    border: 1px solid var(--accent-redesigned);
    padding: 5px 10px;
    border-radius: 12px;
}
