.AddCommentForm {
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin-bottom: 20px;
}

.input {
    flex-grow: 1;
}

.form {
    position: relative;
}

.emoji {
    position: absolute;
    bottom: 50px;
    right: 0;
}
