.messagesWrapper {
    position: relative;
    overflow-y: auto;
    width: 100%;
    padding: 24px;
    background: var(--dark-bg-redesigned);
    border-radius: 12px;
}

.icon {
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: var(--bg-redesigned);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    align-items: center;
}

.icon:hover {
    opacity: 0.6;
}
