.app_blue_theme {
    --dark-bg-redesigned: #1c2c4e;
    --bg-redesigned: #30467a;
    --light-bg-redesigned: #5c78ab;
    --text-redesigned: #f0f0f0;
    --hint-redesigned: #a6b4cf;
    --cancel-redesigned: #e57373;
    --save-redesigned: #6cb2c1;
    --icon-redesigned: #fff;
    --accent-redesigned: #94b2d2;
}
