.app_dark_theme {
    --bg-color: #1e1e1e;
    --inverted-bg-color: #c2c1c1;
    --primary-color: #ff4081;
    --secondary-color: #00bcd4;
    --inverted-primary-color: #3f51b5;
    --inverted-secondary-color: #ff9800;
    --skeleton-shadow: #676767;
    --skeleton-color: #8a8989;
    --code-bg: #fff;
    --card-bg: #484848;
    --listbox-bg: #484848;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;
}
