.app_green_theme {
    --dark-bg-redesigned: #0f3e2e;
    --bg-redesigned: #1e604a;
    --light-bg-redesigned: #46a785;
    --text-redesigned: #f1f1f1;
    --hint-redesigned: #8dd0ac;
    --cancel-redesigned: #e04f63;
    --save-redesigned: #5dc37d;
    --icon-redesigned: #fff;
    --accent-redesigned: #9bebc5;
}
