.app_light_theme {
    --bg-color: #c2c1c1;
    --inverted-bg-color: #1e1e1e;
    --primary-color: #3f51b5;
    --secondary-color: #ff9800;
    --inverted-primary-color: #ff4081;
    --inverted-secondary-color: #00bcd4;
    --skeleton-shadow: #676767;
    --skeleton-color: #8a8989;
    --code-bg: #8f8e8e;
    --card-bg: #9b9b9b;
    --listbox-bg: #9b9b9b;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;
}
