.app_orange_theme {
    --bg-color: #f5f5f5;
    --inverted-bg-color: #333;
    --primary-color: #ffa500;
    --secondary-color: #ffc966;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #e6e6e6;
    --skeleton-shadow: #676767;
    --skeleton-color: #8a8989;
    --code-bg: #fff;
    --card-bg: #595858;
    --listbox-bg: #595858;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;
}
