.notifications {
    min-height: 150px;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
}

.icon {
    position: relative;
}

.text {
    position: absolute;
    bottom: -5px;
    right: -10px;
    border-radius: 50%;
    background: #f89797;
    padding: 0 7px;
}
