.AppLink {
    color: var(--primary-color);

    &:hover {
        opacity: 0.5;
        fill-opacity: 50%;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}
