.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hover:hover {
    opacity: 0.7;
}

.icon {
    margin-left: 10px;
}

.replyBtn {
    margin-top: 10px;
}
